@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease;
}

.container p {
  margin-top: 40px;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 40px;
  line-height: 1.6;
  animation: fadeIn 1s ease;
}

.main-content {
  margin-top: 40px;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  min-height: 200px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 1.8;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease;
}

.btn-style {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  animation: fadeIn 1s ease;

}

 button {
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  animation: fadeIn 1s ease;
}

  button:hover {
  background-color: #ff4f4f;
}

.dark-mode-toggle {
  position: fixed ;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}

.dark-mode-toggle svg {
  color: #333;
  
 
}

.dark-mode{
  background-color: black;
  color:  white;
}

.light-mode{
  background-color: white;
  color:  black;
}